<footer>
  <div class="join-community">  
    <div>
      <ul>
        <li>
          <a href="https://groups.google.com/forum/#!forum/go-cd" target="_blank" analytics-label="google-group">
            <i class="icon fa fa-users fa-4x join-us" aria-hidden="true"></i>
            <span>Join our discussion forum</span>
          </a>
        </li>
        <li>
          <a href="https://gitter.im/gocd/gocd" target="_blank" analytics-label="gitter">
            <i class="icon fa fa-comments fa-4x develop-with-us" aria-hidden="true"></i>
           <span>Chat with us</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/gocd/gocd" target="_blank" analytics-label="github">
            <i class="icon fa fa-github fa-4x watch-us" aria-hidden="true"></i>
            <span>watch us</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/goforcd" target="_blank" analytics-label="twitter">
            <i class="icon fa fa-twitter fa-4x follow-us" aria-hidden="true"></i>
            <span>follow us</span>
          </a>
        </li>
        
        <li>
        <%= link_to "<i class= 'icon fa fa-envelope fa-4x subscribe' aria-hidden='true'></i> <span>subscribe</span>".html_safe, '/subscribe/index.html' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-footer">
    <div class="container">
      <div class="foo-content">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <ul class="unordered-list">
                  <li class="left-align-text">DOWNLOAD GoCD</li>
                  <li class="left-align-text">PLUGINS</li>
                  <li class="left-align-text">FORK ME ON GITHUB</li>
                </ul>
              </div>

              <div class="col-md-3">
                <ul class="unordered-list">
                  <li class="left-align-text">COMMUNITY</li>
                  <li class="left-align-text">CONTRIBUTE</li>
                  <li class="left-align-text">WEBNAIRS + EVENTS</li>
                  <li class="left-align-text">ABOUT</li> 
                </ul>
              </div>

              <div class="col-md-3">
                <ul class="unordered-list">
                  <li class="left-align-text">RESOURCES</li>
                  <li class="left-align-text">GETTING STARTED</li>
                  <li class="left-align-text">LOGOS + BRAND</li>
                  <li class="left-align-text">GUIDELINES</li> 
                </ul>
              </div>
              <div class="col-md-3">
                <ul class="unordered-list">
                  <li class="left-align-text">ENTERPRISE SUPPORT</li>
                  <li class="left-align-text">SUBMIT A TICKET</li>
                  <li class="left-align-text">TERMS + CONDITIONS</li>
                  <li class="left-align-text">PRIVACY</li> 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p class="left-align-text">
              GoCD is an open-source project, sponsored by <a target="_blank" href="http://www.thoughtworks.com" analytics-label="link_footer_thoughtworks">ThoughtWorks Inc.</a>
              under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="Apache 2.0 License">Apache License, Version 2.0</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
