footer {
	@media (min-width:$screen-tablet) {
		padding-top: 50px;
	}

	p {
		font-size: 14px;
	}

}

.page-footer {
	padding: 30px 0;
	font-size: 12px;

	a {
		text-decoration: underline;
		display: inline-block;

		.fa {
			margin-right: 5px;
		}

	}

	.foo-content {
		text-align: center;
	}

	p {
		margin: 10px 0;

		@media (min-width:$screen-tablet) {
			margin: 0;
		}

	}

	h5 {
		display: block;

		@media (min-width:$screen-tablet) {
			margin-right: 10px;
			display: inline-block;
		}

	}

	.social-buttons {
		display: inline-block;
		padding: 0px 8px;
		border: 1px solid #ccc;
		margin-right: 10px;
		font-size: 14px;
		text-decoration: none;
		color: #333;
	}

}

.join-community {
	background: #333;
	padding: 10px 0;
	position: relative;
	overflow: hidden;

	@media (min-width: 320px) and(max-width: $screen-lg-min){
		padding: 0;
	}
	h3 {
		text-align: center;
		margin: 0 0 30px 0;
		position: relative;
		z-index: 1;
		color: #fff;
	}

	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		position: relative;
		z-index: 2;
		@include flexbox;
		@include justify-content(center);
		@media (min-width: 320px) and (max-width: $screen-lg-min){
			display: block	
		}
	}

	li {
		display: inline-block;
		transform: scale(1);
		cursor: pointer;
		padding: 0 10px;
		margin: 10px;
		float: left;
		
		@media (max-width:$screen-tablet) {
			border-right: 1px solid #212121;
		}

		@media (min-width: 320px) and (max-width: $screen-lg-min){
			margin: 0;
			width: 50%;
			padding: 5px;
			border-top: 1px solid #212121;
			border-right: 0px;

			&:nth-child(even){
				border-right: 1px solid #212121;
			}
			&:first-child{
				width: 100%;
			}
			&:nth-child(4), &:last-child{
				border-bottom: 1px solid #212121;
			}
		}

		&:hover {
			.icon {
				transform: scale(1.1);
				color: #FFFFFF;
			}
		}

	}

	a {
		display: block;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 400;
		line-height: normal;
		transition: all 0.25s;
		@media (min-width:$screen-tablet) {
			font-size: 11px;
		}
		@media (min-width: 320px) and (max-width: $screen-lg-min){
			&:focus{
				background-color: #484747;
			}
		}
	}

	.icon {
		display: inline-block;
		margin: 0 auto 10px;
		transition: all .2s ease-in-out;
		width: auto;

		color: #00BFC0;
		&:hover {
			transform: scale(1.1);
		}

	}

	span{
		padding-left: 15px;
	} 
}

.fa-4x{
	font-size:2em;

	@media (min-width:$screen-tablet) {
		font-size:2em;
	}	
}

.help-us-improve {
	a {
		background: #fff;
		color: #333;
		padding: 1px 5px;
		text-decoration: none;
	}

}

.unordered-list{
	list-style: none;
}

.left-align-text{
	text-align: left;
}