---
layout: campaignlanding
title: "GoCD for your Enterprise"
title_tag_of_header: "Scale your Enterprise with GoCD"
page_caption:
meta_description: "GoCD Enterprise Plugins and Support"
meta_keywords: "Enterprise, pipelines, ldap, postgres, enterprise support, scale your pipelines, continuous delivery"
show_features: true
---

<div class="enterprise">
  <% content_for :maincontent do %>
    <%= partial 'partials/secondarynav' %>
      <div class="container feature-section">
      
        <h1 class="text-center">Pricing</h1>
        <h1 class="text-center"> Text Here</h1>
        <table class="table table-striped">
          <tr>
            <th>Number of Pipelines</th>
            <th>Includes</th>
            <th>PRICING, PER YEAR, USD</th>
          </tr>
          <tr>
            <td>
              1-50
            </td>
            <td>
              Support Only
            </td>
            <td>
              $5,000
            </td>
          </tr>

          <tr>
            <td>
              51-250
            </td>
            <td>
              Support + Add-ons &amp; Plugins
            </td>
            <td>
              $15,000
            </td>
          </tr>

          <tr>
            <td>
              251-500
            </td>
            <td>
                Support + Add-ons &amp; Plugins
            </td>

            <td>
              $25,000
            </td>
          </tr>
          <tr>
              <td>
                500+
              </td>
              <td>
                  Support + Add-ons &amp; Plugins
              </td>
  
              <td>
                Let's Talk
              </td>
            </tr>
        </table>

        <h2 class="text-center">GoCD OSS vs GoCD Enterprise</h2>
      </div>
    <script src="/assets/javascripts/marketo_popover.js"></script>
  <% end %>
</div>