---
layout: campaignlanding
title: "GoCD for your Enterprise"
title_tag_of_header: "Scale your Enterprise with GoCD"
page_caption:
meta_description: "GoCD Enterprise Plugins and Support"
meta_keywords: "Enterprise, pipelines, ldap, postgres, enterprise support, scale your pipelines, continuous delivery"
show_features: true
---

<div class="enterprise">
  <% content_for :maincontent do %>
    <%= partial 'partials/secondarynav' %>
    <div class="container feature-section">
      <h1>SUPPORT</h1>
    </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="col-md-6 intro-text">
          <p>
            GoCD's expert support team offers you the reassurance that your issues are prioritized. Get unlimited support cases per month, quick 1-hour, 24x5 turnaround for urgent severity issues, and access to our development team forums. </p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="http://via.placeholder.com/600x400">
        </div>
      </div>
    </div>

    <div class="container feature-section"\>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-circle" src="http://via.placeholder.com/120x120">
          </div>
          <div class="col-md-6">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-circle" src="http://via.placeholder.com/120x120">
          </div>
          <div class="col-md-6">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-circle" src="http://via.placeholder.com/120x120">
          </div>
          <div class="col-md-6">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-circle" src="http://via.placeholder.com/120x120">
          </div>
          <div class="col-md-6">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

    </div>

    <%= partial 'partials/supportform.html.erb' %>

  <% end %>
</div>
